{% extends "layout.html" %}
{% block body %}
<div class="block1">
    <h1 style="text-align: center;">Congratulations!!</h1>
    <h1>You have successfully deployed the simple web application using automated CI/CD.</h1>
    <BR>
    <h2 style="text-align: center;">Welcome to First Cloud Journey: Junior Bootcamp 2024 Season 1</h2>

    &nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cicd1.s3.ap-northeast-1.amazonaws.com/72704844.jpeg"
        width="527" height="277" />
</div>
<p>{% endblock %}</p>
